<!DOCTYPE html>
<html>
  <head>
    <title>My note collection</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
   <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <%= link_to notes_path, class: 'brand-logo center' do %>
            <span id="page-title">My note collection</span>
          <% end %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
              <button id="toggle-dark-mode" class="btn btn-dark-mode tooltipped" data-tooltip="Modo Oscuro" aria-label="Modo Oscuro">
                <i class="material-icons">nightlight_round</i>  <!-- Icono de Modo Oscuro -->
              </button>
              <button id="btn-language" class="btn btn-medium btn-dark-mode-language" aria-label="Cambiar idioma">
              <span id="language-label">Español</span>  <!-- El texto de este span cambiará cuando el usuario cambie de idioma -->
              </button>          
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
